# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


# Notebook Checkpoints
.ipynb_checkpoints/

#logs
*.log

#others
.idea/

#cache
/repr/ale-analysis/nilearn_cache

/util/function_conv_mni.py
/util/TDdatabase.mat

